body {
  color: #333333;
  font-family: arial;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  flex-direction: column;
  min-height: 100vh
}

.main-content {
  flex-grow: 1;
}

footer {
  color: #888888;
  border-top: 1px solid #eeeeee;
  margin-top: 16px;
  padding: 16px 0;
}

header {
  margin-top: 16px;
  margin-bottom: 48px;
}

h1 {
  font-size: 64px;
  margin-bottom: 16px;
}

header a {
  color: #888888;
  margin-right: 16px;
  text-decoration: none;
}

.portrait {
  width: 400px;
}

input {
  font-size: 16px;
  border: 1px solid #cccccc;
  padding: 15px;
  width: 100%;
}

button {
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #888888;
  background: #888888;
  color: white;
  padding: 15px 30px;
  margin-top: 10px;
}

.result{
  font-size: 18px;
  background-color: #8888881a;
  padding: 20px;
}

#message-1{
  margin-top: 20px;
}
